@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
/* *{
    padding: 0;
    margin: 0;
}  обнуление всей страницы*/
html {
  position: relative;
  z-index: 4;
}
body {
  position: relative;
  z-index: 4;
  max-width: 750px;
  color: rgb(10, 7, 7);
  background: rgba(54, 36, 54, 0.637);
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  /* font: normal 16px 'Roboto', sans-serif; */

  margin: auto;
  padding-top: 30px;
}
.conteiner{
    color: black;
    position: relative;
    font-size: 20px;
}
.full-screen {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}
.full-screen__body {
  padding: 50px 15px;
  background-color: rgba(0, 0, 0, 0);
  /* position: fixed; */
  z-index: 3;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.full-screen__title {
  font-size: 50px;
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.full-screen__text {
  font-size: 18px;
  letter-spacing: 15px;
}
.full-screen__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: relative;
  z-index: 5;
  /* background-color: #794f45; */
}
.content__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 15px;
  font-size: 18px;
  line-height: 150%;
}
.content__container p {
  margin: 0px 0px 20px 0px;
}

.container {
  position: relative;
  max-width: 750px;
  padding: 0 16px;
  width: 100%;
  font-weight: normal;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: yellow;
}
a:active {
  color: red;
}

hr {
  size: 15px;
  width: 100%;
  box-align: left;
  border: 0;
  height: 1px;
  background: #000;
  background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
  background-image: -moz-linear-gradient(left, #fff, #000, #fff);
  background-image: -ms-linear-gradient(left, #fff, #000, #fff);
  background-image: -o-linear-gradient(left, #fff, #000, #fff);
}
.avatar {
  position: relative;
  width: 45%;
  height: 25%;
  box-shadow: 4px 4px 14px rgba (0, 0, 0, 0.25);
}
.info {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  body {
    position: relative;
    display: block;
    text-align: center;
  }
}
.info-text {
  position: relative;
  margin-left: 40px;
}
.info-text h4 {
  position: relative;
  margin-bottom: 10px;
}
.info p {
  position: relative;
  color: darkslategrey;
  margin: 0 0 20px 0;
  font-style: italic;
  font-weight: bold;
}
/* box model */

.bg-yellow {
  position: relative;
  background: #aca8b334;
}
.bg-green {
  position: relative;
  /* background: #6e635949; */
}
.bg-red {
  position: relative;
  background: #1c4b4756;
}
.card h2 {
  position: relative;
  text-align: center;
}
.card {
  position: relative;
  padding: 15px 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.skills-list {
  position: relative;
  margin: 0 0 0 100px;
  padding: 0;
  max-width: 75%;
}
.skills-list dt {
  position: relative;
  margin: 0 0 8px;
  padding-left: 46px;
  height: 36px;
  font-size: 24px;
  letter-spacing: 1px;
  background-repeat: no-repeat;
  background-position: left;
}
.skill-html {
  background-image: url("../img/icon-html.svg");
}

.skill-css {
  background-image: url("../img/icon-css.svg");
}
.skill-js {
  background-image: url("../img/icons8-javascript-logo.svg");
}
.level {
  margin: 0 0 40px;
  height: 24px;
  text-align: right;
  background-color: #0b0c23;
  box-shadow: inset 0 0 12px #070716;
  border-radius: 12px;
  overflow: hidden;
}
.level1 {
  margin: 0 0 40px;
  height: 24px;
  text-align: right;
  background-color: #d0d0e2;
  box-shadow: inset 0 0 12px #070716;
  border-radius: 12px;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 5px;
}
.skills .level div {
  margin: 0;
  height: 24px;
  letter-spacing: 1px;
  line-height: 26px;
  background-color: #5053ad;
  background-image: url("../img/progress-pattern.svg");
}
.list {
  padding-left: 0 20px;
  list-style: none;
}
.list li {
  color: #86898f;
  border-bottom: 1px solid gray;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: #393a3d;
}
.form-group label {
  display: block;
  font-size: 14px;
  color: #2d2e30;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  background: transparent; /* прозрачный */
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #000;
  outline: none;
  font-family: inherit; /* наследовать */
  margin-bottom: 15px;
  background-color: #fff;
}
.row {
  display: flex;
  margin-bottom: 0px;
}
input {
  border-radius: 15px;
  padding: 0 0 0 8px;
  height: 25px;
}
textarea {
  border-radius: 15px;
  padding: 0 0 0 8px;
}
.row > .form-group {
  width: 50%;
  margin-right: 20px;
}
.row > .form-group:last-child {
  margin-right: 20px;
}

.page-footer {
  padding: 20px 20px;
  background-color: #2123493d;
  border-radius: 15px 15px 0 0;
}
.square li {
  color: #fff;
}
html,
body {
  height: 100%;
}
/*Стили для демонстрации*/

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 15px 15px;
  margin: -25px 0 25px 6px;
}
/* Основные стили */
.wave-btn {
  width: 220px;
  height: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -ms-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}
.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;

  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: #000;
  border-radius: 48%;

  animation: waves 5s infinite linear;
  -webkit-animation: waves 5s infinite linear;
  -moz-animation: waves 5s infinite linear;
  -o-animation: waves 5s infinite linear;
}
.wave-btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;

  animation: waves 10s infinite linear;
  -webkit-animation: waves 10s infinite linear;
  -moz-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-moz-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-o-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.page a {
  position: relative;
  padding: 10px;
  
}
